<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SAN FELIPE | @ViewBag.Title </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/fontawesome-free/css/all.min.css")">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/icheck-bootstrap/icheck-bootstrap.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/adminlte/css/adminlte.min.css")">

    <link rel="stylesheet" href="@Url.Content("~/plugins/jquery-loading/jquery.loading.min.css")" />

    <link rel="stylesheet" href="@Url.Content("~/plugins/sweetalert/dist/sweetalert.css")">

    <link rel="stylesheet" href="@Url.Content("~/css/style.css")">

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    @RenderBody()
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="@Url.Content("~/plugins/jquery/jquery.min.js")"></script>
    <!-- jQuery Validation -->
    <script src="@Url.Content("~/plugins/jquery-validation/jquery.validate.js")"></script>
    <script src="@Url.Content("~/plugins/jquery-validation/localization/messages_es_PE.js")"></script>

    <!-- Bootstrap 4 -->
    <script src="@Url.Content("~/plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/adminlte/js/adminlte.min.js")"></script>

    <script src="@Url.Content("~/plugins/jquery-loading/jquery.loading.min.js")"></script>

    <script src="@Url.Content("~/plugins/sweetalert/dist/sweetalert.min.js")"></script>

    <script>
        var appURL = "@Url.Content("~/")";
    </script>
    <script src="@Url.Content("~/js/global.js")"></script>
    @RenderSection("scripts", false)
</body>
</html>
